</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
<script src="./temp.js"></script>
<script>
    $(function() {
        $('.btn-book').click(function(){
            console.log('clicked');
            console.log($(this).data('roomid'))
            $.ajax({
                url:'/book/' + $(this).data('roomid'),
                type:'POST',
                dataType:"json"
            }).done(function(data){
                $.ajax({
                    url: '/roombooked/' + data,
                    type: 'get',
                    data: data
                })
            });
        })
    })
</script>
</html>